.events {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  &-title {
    font-size: 30px;
    color: var(--text-color);
    text-transform: capitalize;
    letter-spacing: 3px;
  }
  &-title::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: "";
    margin: 10px 40px;
    width: 25%;
    height: 3px;
    background-color: var(--span-color);
    border-radius: 50px;
  }
  &-card1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    &-img {
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;

      margin: 5px;
      img {
        width: 300px;
        height: 350px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 15px;
      }

      h3 {
        font-size: 20px;
        text-transform: capitalize;
        color: var(--text-color);
        letter-spacing: 2px;
      }
    }
    &-title {
      opacity: 0;
      padding: 50px;
      width: 100%;
      height: 350px;
      position: absolute;
      top: 0;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      span {
        padding: 30px;
        color: var(--text-color);
      }
    }
    &-title:hover {
      background: linear-gradient(rgba(0, 0, 0, 0.5), #423643);
      opacity: 1;
      transition: 0.5s ease;
      transform: translateY(1);
      cursor: pointer;
    }
  }
}
