.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/img/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  &-title {
    margin: 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    h1 {
      color: var(--text-color-white);
      font-size: 35px;
      letter-spacing: 5px;
    }
    h1::after {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      content: "";
      margin: 10px 40px;
      width: 15%;
      height: 3px;
      background-color: var(--span-color);
      border-radius: 50px;
    }
    span {
      color: var(--text-color-white);
      font-size: 15px;
    }
  }
}
