.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/img/header-bg.png);
  background-size: cover;
  background-position: center;
  padding: 200px;
  flex-direction: column;
  gap: 5rem;
  h3 {
    text-transform: capitalize;
    letter-spacing: 5px;
    color: var(--text-color-white);
    font-size: 1.5rem;
  }
  h3::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: "";
    margin: 10px 40px;
    width: 20%;
    height: 3px;
    background-color: var(--span-color);
    border-radius: 50px;
  }
  h1 {
    color: var(--text-color-white);
    letter-spacing: 5px;
    font-size: 50px;
  }
}
